 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


.container {
  margin: 20px;
  display: block;
  float: left;
  p {
    color: slategray;
    float: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 20px;
    padding-top: 11px;
    border-top: 1px slategray solid;
  }
  h1 {
    font-size: 130px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

#gainsboro  {
  background-color: gainsboro;
  height: 150px;
  width: 150px;
}
#cornflowerBlue {
  background-color: cornflowerblue;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
#cornsilk {
  background-color: cornsilk;
  height: 150px;
  width: 150px;
  border-radius: 20px;
}
#tomato {
  width: 0; 
  height: 0; 
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid tomato;
}
.colorshift {
  background-color: aquamarine;
}

.arrow_down {
  width: 0; 
  height: 0; 
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 150px solid tomato;
}


/*
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
*/