 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


.container {
  margin: 20px;
  width: 150px;
  display: block;
  float: left;
  cursor: pointer;
  p {
    color: slategray;
    float: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 20px;
    padding-top: 11px;
    border-top: 1px slategray solid;
  }
  h1 {
    font-size: 130px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

#gainsboro  {
  background-color: gainsboro;
  height: 150px;
  width: 150px;
}
#cornflowerBlue {
  background-color: cornflowerblue;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
#cornsilk {
  background-color: cornsilk;
  height: 150px;
  width: 150px;
  border-radius: 20px;
}
#tomato {
  width: 0; 
  height: 0; 
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid tomato;
}
.colorshift {
  background-color: aquamarine;
}

.gradient {
  color: white;
  background: radial-gradient(deeppink, tomato);
  width: 150px;
}

.animation1 {
    -webkit-animation: fade 5s;
    animation: fade 5s;
}
@keyframes fade {
    from {background: red;}
    to {background: yellow;}
}

.animation2 {
    -webkit-animation: spin 2s;
    animation: spin 2s;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.animation3 {
    -webkit-animation: slideup 2s;
    animation: slideup 2s;
}
@keyframes slideup {
    0% {top:0px;}
    75% {top:0px;}
    100% {top:-20px;}
}

.border {
  border: white 8px solid;
  box-shadow: 4px 4px 5px #888888;
}
/*
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
*/